<% divisions.each_with_index do |division, i| %> <%# 時代ごとに1つのブロックをループ%>
  <% articles_div = articles.where(division: division) %>
  <div class="<%= i % 2 != 0 ? "background_even" : "background_odd"%>">
    <div class="container-fluid row article <%= division %>" id="<%= division %>">

      <%########################↓地図とドット##################################################%>
      <%= image_tag("/img/map.svg", class: "gio abs") %>
      <div class="gio-dot abs">
        <% articles_div.each do |article| %>
          <% if article %>
            <%= link_to content_path(region: article.region, division: division), method: :post, remote: true, class: "dotlink" do %>
              <span class="dot abs dot-<%= article.category %>" style="left: <%= article.coordinateX %>%; top: <%= article.coordinateY %>%;">●</span>
            <% end %>
          <% end %>
        <% end %>
      </div>

      <%########################↓時代(画像に差し替えるならsrc属性のアドレスをdivisionに合わせてつけると楽)##################################################%>
      <div class="col-2 offset-md-6 offset-lg-3 mr-3 pt-5 mt-5">
        <b><%= t("article.division.#{division}") %></b>
      </div>

      <%########################↓記事内容をリクエストに合わせてレンダリングしている (_content.html.erbを呼び出している)##################################################%>
      <div class="col-6 rel">
        <div id="content-<%= division %>" class="mt-5 pt-5">
          <%= render partial: "content" , :locals => { article: articles_div.last } %>
        </div>
      </div>

    </div>
  </div>
<% end %>


<%# 固定サイドバー %>
<div class="sidebar">
  <% @divisions.each do |division| %>
    <div class="side-division">
      <a href="#<%= division %>">
        <%= t("article.division.#{division}") %>
      </a>
    </div>
  <% end %>
</div>

<script>
  /* scrollify使ってる。内部リンクと相性悪いので代替案を考える
  $(function() {
    $.scrollify({
      section : ".article",
      sectionName : "section-name",
      interstitialSection : "",
      easing: "easeOutExpo",
      scrollSpeed: 1100,
      offset : 0,
      scrollbars: true,
      standardScrollElements: ".article-body .atricle",
      setHeights: true,
      overflowScroll: true,
      updateHash: true,
      touchScroll:true,
      before:function() {},
      after:function() {},
      afterResize:function() {},
      afterRender:function() {}
    });
  });
  */
</script>
