<%#メインページ%>




<% divisions.each_with_index do |division, i| %> <%# 時代ごとに1つのブロックをループ%>
  <% articles_div = articles.where(division: division) %>
  <div class="<%= i % 2 != 0 ? "background_even" : "background_odd"%>">
    <div class="container-fluid row article <%= division %>" id="<%= i + 1 %>">

      <%########################↓地図とドット##################################################%>
      <%= image_tag("/img/maps/#{division}.svg", class: "gio abs") %>
      <div class="gio-dot abs">
        <% articles_div.each do |article| %>
          <% if article %>
            <%= link_to content_path(region: article.region, division: division), method: :post, remote: true, class: "dotlink" do %>
              <span class="dot abs dot-<%= article.category %>" style="left: <%= article.coordinateX %>%; top: <%= article.coordinateY %>%;">●</span>
            <% end %>
          <% end %>
        <% end %>
      </div>

      <%########################↓時代を表すSVG画像##################################################%>
      <div class="col-2 offset-md-6 offset-lg-3 mr-3 pt-5 mt-5">
        <%= image_tag "/img/era/#{@svg_category}/#{division}.svg" %>
      </div>

      <%########################↓記事内容をリクエストに合わせてレンダリングしている (_content.html.erbを呼び出している)##################################################%>
      <div class="col-6 rel" style="margin: 0 -7rem 0 5rem;">
        <div id="content-<%= division %>" class="mt-5 pt-5 allowScroll">
          <%= render partial: "content" , :locals => { article: articles_div.last } %>
        </div>
      </div>

    </div>
  </div>
<% end %>


<%# 固定サイドバー %>
<div class="sidebar">
  <% @divisions.each_with_index do |division, index| %>
    <div class="side-division">
      <a href="#<%= index + 1 %>">
        <%= t("article.division.#{division}") %>
      </a>
    </div>
  <% end %>
</div>

<script>
// このスクリプトタグ内に書くこと
// 共通部分やアセット内に書くとloadが発火しません。


// 時代区分のスクロール制御
  $(function() {
    $.scrollify({
      section : ".article",
      sectionName : "section-name",
      interstitialSection : "",
      easing: "easeOutExpo",
      scrollSpeed: 1100,
      offset : 0,
      scrollbars: true,
      standardScrollElements: ".article-body .atricle",
      setHeights: true,
      overflowScroll: false,
      updateHash: true,
      touchScroll:true,
      before:function() {},
      after:function() {},
      afterResize:function() {},
      afterRender:function() {}
    });
  });

$(".allowScroll").hover(
  function () {
    $.scrollify.disable();
  },
  function () {
    $.scrollify.enable();
  }
);


//ページ内ジャンプでのスクロール

  var scrollElm = (function() {
    if('scrollingElement' in document) {
      return document.scrollingElement;
    }
    if(navigator.userAgent.indexOf('WebKit') != -1) {
      return document.body;
    }
    return document.documentElement;
  })();

  $('a[href^="#"]').not('.noscroll').on('click', function() {
    var speed = 1100;
    var easing = 'swing';
    var href= $(this).attr("href");
    $(scrollElm).animate({
      scrollTop: $(href == "#" ? 'html' : href).offset().top
    }, speed, easing);
    return false;
  });


</script>
