<%#メインページ%>
<% divisions.each_with_index do |division, i| %> <%# 時代ごとに1つのブロックをループ%>
  <% articles_div = articles.where(division: division) %>
  <div class="<%= i % 2 != 0 ? "background_even" : "background_odd"%>">
    <div class="container-fluid row article rel <%= division %>" >

      <%########################↓サイドバーの目盛り##################################################%>
      <div class="scale scale-top abs">
        <div class="scale-bar"></div>
        <%= top_ruler(division) %>
      </div>
      <div class="scale scale-bottom abs">
        <div class="scale-bar"></div>
        <%= bottom_ruler(division) %>
      </div>


      <%########################↓地図とドット##################################################%>
      <% if @region %>
        <%= image_tag("/img/maps/region/#{@region}.png", class: "gio abs #{"gio-" + @region}") %>
      <% else %>
        <%= image_tag("/img/maps/#{division}.png", class: "gio abs gio-common") %>
      <% end %>
      <div class="gio-dot abs">
        <% articles_div.each do |article| %>
          <% if article %>
            <%= link_to content_path(division: division, id: article.id), method: :post, remote: true, class: "dotlink" do %>

              <% if @region %>
                <span class="dot abs dot-<%= article.category %>" style="left: <%= article.regionCoordinateX %>%; top: <%= article.regionCoordinateY %>%;">●</span>
                <% unless article.regionCoordinateX %>
                  <span class="dot abs dot-<%= article.category %>" style="left: <%= article.coordinateX %>%; top: <%= article.coordinateY %>%;">×</span>
                <% end %>
              <% else %>
                <span class="dot abs dot-<%= article.category %>" style="left: <%= article.coordinateX %>%; top: <%= article.coordinateY %>%;">●</span>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      </div>

      <%########################↓時代を表すSVG画像##################################################%>
      <div class="col-6 col-lg-5">
      </div>
      <%= image_tag "/img/era/#{@svg_category}/#{division}.svg", class: "era-svg abs" %>

      <%########################↓記事内容をリクエストに合わせてレンダリングしている (_content.html.erbを呼び出している)##################################################%>
      <div class="col-6 rel" style="margin: 0 -7rem 0 5rem;">
        <div id="content-<%= division %>" class="mt-5 pt-5 allowScroll">
          <%= render partial: "content" , :locals => { article: articles_div.last } %>
        </div>
      </div>

    </div>
  </div>
<% end %>

<%#記事ページの一番下%>
<div class="article-footer background_odd rel">

  <div class="footer-icon">
    <img src="/img/footer_deco.png">
  </div>

  <div class="footer-text">
    <p>本サイトで表記している歴史に関しては、諸文献を参考にして2019年現在の定説を記しています。<br>
    また、神話に近い事象や諸説ある事象に関してはその旨を表記しています。<br>
    建武の新政（1334年〜1335年）、南北朝時代（1336年〜1392年）、戦国時代（1493年〜1573年）については、便宜的に室町時代の区分に内包しています。<br>
    また、室町幕府の滅亡については、定説とされる織田信長が北条義昭を京都から追放した1573年を採用しています。</p>
  </div>

  <div class="scale scale-top abs">
    <div class="scale-bar"></div>2019
  </div>
  <div class="scale scale-foot abs">
    <div class="scale-bar"></div>???
  </div>

</div>

<%# 固定サイドバー %>
<div class="sidebar">
  <div class="ruler">
  </div>
</div>

<script>
// このスクリプトタグ内に書くこと
// 共通部分やアセット内に書くとloadが発火しません。


// 時代区分のスクロール制御
  $(function() {
    var current;
    $.scrollify({
      section : ".article, .article-footer",
      sectionName : "section-name",
      interstitialSection : "",
      easing: "easeOutExpo",
      scrollSpeed: 1100,
      offset : 0,
      scrollbars: true,
      standardScrollElements: ".article-body .atricle",
      setHeights: true,
      overflowScroll: true,
      updateHash: true,
      touchScroll:true,
      before:function(i,article){
          current = i
          $('.navigation .active').removeClass('active');
          $('.navigation').find('.navigation-dot').eq(i).addClass('active');
      },
      after:function() {},
      afterResize:function() {},
      afterRender:function(){ //ナビゲーションHTMLの作成
          var eras = ["縄文以前", "弥生時代", "古墳時代", "飛鳥・奈良時代", "平安時代",
                     "鎌倉時代", "室町時代", "安土桃山時代", "江戸時代[前半]", "江戸時代[後半]",
                     "明治時代", "大正時代", "昭和時代", "平成"];
          var navigation = '<ul class="navigation">';
          $('.article').each(function(i){
              navigation += '<li><a class="navigation-dot"></a> <a class="navigation-link">' + eras[i] + '</a></li>';
          });
          navigation += '</ul>';
          $('body').append(navigation);
          $('.navigation-link').each(function(i){
              $(this).on('click',function(){
                  $.scrollify.move(i);
              });
          });
          $('.navigation li:first-child').find('.navigation-dot').addClass('active');
      }
    });
  });

  //記事内スクロールを優先
  $(".allowScroll").hover(
    function () {
      $.scrollify.disable();
    },
    function () {
      $.scrollify.enable();
    }
  );


  //ページ内ジャンプでのスクロール

  var scrollElm = (function() {
    if('scrollingElement' in document) {
      return document.scrollingElement;
    }
    if(navigator.userAgent.indexOf('WebKit') != -1) {
      return document.body;
    }
    return document.documentElement;
  })();

  $('a[href^="#"]').not('.noscroll').on('click', function() {
    var speed = 1100;
    var easing = 'swing';
    var href= $(this).attr("href");
    $(scrollElm).animate({
      scrollTop: $(href == "#" ? 'html' : href).offset().top
    }, speed, easing);
    return false;
  });




</script>
