<% divisions.each_with_index do |division, i| %>
  <div class="<%= i % 2 != 0 ? "background_even" : "background_odd"%>" id="#article">
    <% articles_div = articles.where(division: division) %>
    <div class="<%= i % 2 != 0 ? "background_even" : "background_odd"%>">
    	<div class="container-fluid row article">
    			<div class="col-lg-3 col-md-6">
    				<div class="map rel">
    					<%= image_tag("/img/map.svg", class: "gio abs") %>
    				</div>
    			</div>
    			<div class="col-2 mr-3 pt-5 mt-5">
    				<div class="mt-5 pt-5">
              <% regions.each do |region| %>
                <% if articles_div.find_by(region: region) %>
                  <%= link_to t("article.region.#{region}"), content_path(region: region, division: division), method: :post, remote: true %>
                <% end %>
              <% end %>
    				</div>
    						<b><%= t("article.division.#{division}") %></b>
    			</div>
    			<div class="col-6 rel">
    					<div id="content-<%= division %>" class="mt-5 pt-5">
    							<%= render partial: "content" , :locals => { article: articles_div.last } %>
    					</div>
    			</div>
    	</div>
    </div>
  </div>
<% end %>
