<%= simple_form_for @article, html: { class: 'mt-5' } do |f| %>
<div class="w-75">
<%= f.input :title, required: true%>
</div>
<div class="row pl-3 mb-3">
  <%= f.input :region, required: true, collection: [["佐賀地区", :saga], ["三神地区", :sanshin], ["杵藤地区", :kito], ["唐松地区", :karamatsu], ["伊西地区", :isai]] %>
  <%= f.input :category, required: true, collection: [["政治", :government], ["経済", :economy], ["技術", :technology], ["文化", :culture], ["宗教", :religion]] %>
  <%= f.input :division, required: true, collection: [["縄文", :jomon], ["弥生", :yayoi], ["古墳", :kofun], ["飛鳥・奈良", :asuka], ["平安", :heian], ["鎌倉", :kamakura], ["室町", :muromachi], ["安土桃山", :azuchi], ["江戸[前半]", :edofirst], ["江戸[後半]", :edolast], ["明治", :meiji], ["大正", :taisho], ["昭和", :showa], ["平成", :heisei]] %>
  <%= f.input :year %>
</div>
  <%= f.text_field :content, required: true, class: "quill_container" %> <!--quill_containerってクラスは消さないように-->
  <%= f.input :hidden, as: :boolean, checked_value: true, unchecked_value: 0 %>
  <%= f.button :submit, class: 'btn-primary mt-4' %>

<% end %>
