<div class="container mt-5">
  <h4 class="pt-5">もちもち☆</h4>
  <p class="text-right pb-3">
    <%= link_to "記事を書く", new_article_path %>
    <% if session[:mochi_id] %>

    <%= link_to "ログアウト", logout_path, method: :post, class: "ml-3" %>
    <% end %>
  </p>
  <table class="table container table-hover">
    <thead>
      <tr>
        <th><%= t("activerecord.attributes.article.region") %></th>
        <th><%= t("activerecord.attributes.article.title") %></th>
        <th><%= t("activerecord.attributes.article.category") %></th>
        <th><%= t("activerecord.attributes.article.division") %></th>
        <th><%= t("activerecord.attributes.article.year") %></th>
        <th><%= t("activerecord.attributes.article.coordinateX") %></th>
        <th><%= t("activerecord.attributes.article.coordinateY") %></th>
        <th>公開状態</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= t("article.region.#{article.region}") %></td>
        <td><%= t("article.division.#{article.title}") %></td>
        <td><%= t("article.category.#{article.category}") %></td>
        <td><%= t("article.division.#{article.division}") %></td>
        <td><%= t("article.division.#{article.year}") %></td>
        <th><%= t("activerecord.attributes.article.#{article.coordinateX}") %></th>
        <th><%= t("activerecord.attributes.article.#{article.coordinateY}") %></th>
        <td>
          <% if article.hidden == true %>
            非公開
          <% else %>
            公開
          <% end%>
        </td>
        <td><%= link_to "編集", edit_article_path(article) %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
