<div class="title-main">
  <div class="background">
    <img src="img/map.svg">
  </div>
  <div class="title-wrapper">
    <div class="title">
      <img src="img/top_title.svg">
    </div>
    <div class="subtitle">
      <p>古今東西の佐賀を知る、歴史できごとマップ</p>
    </div>

      <%= link_to "全体でみる▶︎", filter_path, method: :post, remote: true, class: "all-button" %>

    <div class="category-wrapper">
      <div class="category rel">
        <a class="category-title">できごとの分類でみる</a>
        <img src="img/top_category.svg">
        <div class="genres">
          <div class="genre-wrapper">
            <img src="img/top_g_1.svg" class="abs">
            <%= link_to t("article.category.government"), filter_path(category: "government"), method: :post, remote: true, class: "genre-1 abs" %>
          </div>
          <div class="genre-wrapper">
            <img src="img/top_g_2.svg" class="abs">
            <%= link_to t("article.category.economy"), filter_path(category: "economy"), method: :post, remote: true, class: "genre-2 abs" %>
          </div>
          <div class="genre-wrapper">
            <img src="img/top_g_4.svg" class="abs">
            <%= link_to t("article.category.technology"), filter_path(category: "technology"), method: :post, remote: true, class: "genre-4 abs" %>
          </div>
          <div class="genre-wrapper">
            <img src="img/top_g_5.svg" class="abs">
            <%= link_to t("article.category.culture"), filter_path(category: "culture"), method: :post, remote: true, class: "genre-5 abs" %>
          </div>
          <div class="genre-wrapper">
            <img src="img/top_g_6.svg" class="abs">
            <%= link_to t("article.category.religion"), filter_path(category: "religion"), method: :post, remote: true, class: "genre-6 abs" %>
          </div>
        </div>
      </div>

      <div class="category rel">
        <a class="category-title">地区別でみる</a>
        <img src="img/top_category.svg">
        <div class="districts">
          <div class="district-wrapper">
            <img src="img/top_district.svg" class="abs">
            <%= link_to t("article.region.saga"), filter_path(region: "saga"), method: :post, remote: true, class: "abs" %>
            <ul class="abs">
              <li>佐賀市</li>
              <li>小城市</li>
              <li>多久市</li>
            </ul>
          </div>
          <div class="district-wrapper">
            <img src="img/top_district.svg" class="abs">
            <%= link_to t("article.region.sanshin"), filter_path(region: "sanshin"), method: :post, remote: true, class: "abs" %>
            <ul class="abs">
              <li>鳥栖市</li>
              <li>神崎市</li>
              <li>三養基郡</li>
              <li>神崎郡</li>
            </ul>
          </div>
          <div class="district-wrapper">
            <img src="img/top_district.svg" class="abs">
            <%= link_to t("article.region.kito"), filter_path(region: "kito"), method: :post, remote: true, class: "abs" %>
            <ul class="abs">
              <li>武雄市</li>
              <li>鹿島市</li>
              <li>嬉野市</li>
              <li>杵島市</li>
              <li>藤津郡</li>
            </ul>
          </div>
          <div class="district-wrapper">
            <img src="img/top_district.svg" class="abs">
            <%= link_to t("article.region.karamatsu"), filter_path(region: "karamatsu"), method: :post, remote: true, class: "abs" %>
            <ul class="abs">
              <li>唐津市</li>
              <li>東松浦郡</li>
            </ul>
          </div>
          <div class="district-wrapper">
            <img src="img/top_district.svg" class="abs">
            <%= link_to t("article.region.isai"), filter_path(region: "isai"), method: :post, remote: true, class: "abs" %>
            <ul class="abs">
              <li>佐賀市</li>
              <li>小城市</li>
              <li>多久市</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="whatis">
      <div class="whatis-title">
        <img  src="img/whatis.svg">
      </div>
        <p>「さがん歴史地図」は、佐賀の歴史を時間軸にそって地図で見せる、<br>
        佐賀の歴史の教科書です。</p>
        <p>この時代、佐賀ではどこで何が起こっていたのか。<br>
        どんな文化があり、何が作られたのか。<br>
        そうした歴史上の数々のことを「できごと」として記事にし、<br>
        地図とともに時間軸にのせました。</p>
    </div>
  </div> <!--title-wrapperの閉じダグ-->


  <div class="howto">
    <div class="howto-pic">
      <img src="img/howto.jpg">
    </div>
    <div class="howto-text">
      <h2>つかいかた</h2>
      <p>縦にスクロールすると歴史が流れ、<br>
      地図上のポイントをクリックすると右側に「できごと」の詳細が現れます。<br>
      また、上部のメニュー「できごとの分類でみる」からできごとの分類、<br>
      たとえば「政治」のできごとにしぼって表示することができ、<br>
      「地区別の分類でみる」から自分が住んでいる地域にしぼって表示することもできます。</p>
      <p>自分が住んでいる地域の近くで何が起こっていたのか。<br>
      そしてそのとき佐賀県全体では何が起こっていたのか。<br>
      歴史を知ると佐賀の風景が今までとは変わって見え、豊かに色づきます。</p>
      <p>ふるさと・佐賀の歴史を、時代の流れとともに学んでみましょう。</p>
    </div>
  </div>

    <!-- 装飾要素 -->

    <div class="bottom-space"></div>

</div>
