
<% @articles.each_with_index do |article, i| %>

	<div class="<%= i % 2 != 0 ? "background_even" : "background_odd"%>">

		<div class="container-fluid row article">

				<div class="col-lg-3 col-md-6">
					<div class="map rel">
						<%= image_tag("/img/map.svg", class: "gio abs") %>
					</div>
					<ul style="margin-top: 300px; margin-left: 50px; position:relative;z-index:600;">
						<li><%= link_to t("article.region.saga"), content_path, method: :post ,remote: true %></li>
						<li><%= link_to t("article.region.sanshin"), content_path, method: :post ,remote: true %></li>
					</ul>
				</div>

				<div class="col-2 mr-3 pt-5 mt-5">

							<b><%= t("article.division.#{article.division}") %></b>
				</div>

				<div class="col-6 rel">

						<%= render 'content', article: article %>
				</div>

		</div>

	</div>


<% end %>
