<%= form_tag("/articles", {multipart: true}) do %>
    <div class="form">
        <div class="form-body">
            <% @article.errors.full_messages.each do |message| %>
                <div class="form-error">
                    <%= message %>
                </div>
            <% end %>        
            <h3>新規投稿</h3>
            <div class="title-wrapper">
                <p>
                    <span class="fa fa-chevron-down"></span>&nbsp;記事のタイトル
                </p>
                <input name="title" id="title-form" class="input-form" value="<%= @article.title %>">
            </div>
            <div class="content-wrapper">
                <p class="input-content"><span class="fa fa-chevron-down"></span>&nbsp;記事内容</p>
            <textarea name="content" type="text">
                <%= @article.content %>
            </textarea>
            <%= button_tag "公開", data: {disable_with: '・・・'}, class:"submit_button" %>                
        </div>
    </div>
<% end %>