<!DOCTYPE html>
<html>
  <head>
    <title>佐賀っ</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
  </head>

  <body>
    <header>
      <div class="container-fluid">
        <nav class="nav-left">
          <%= link_to "TOP", root_path %>
        </nav>
        <nav class="nav-right">
          <%= link_to "全体でみる", articles_root_path %>
          <%= link_to "できごとの分類でみる", articles_root_path %> <%# 非同期ソート#%>
          <%= link_to "地区別の分類でみる", articles_root_path %>
          <% if session[:mochi_id] %>
            <%= link_to "もちもち",  list_path, class: "text-primary" %>
          <% end %>
        </nav>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
