<!--メインメタ情報とヘッダー-->


<!DOCTYPE html>
<html>
  <head>
    <title>さがん歴史地図</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <%= favicon_link_tag('favicon.ico') %>
  </head>

  <body>
    <header>
      <div class="container-fluid">
        <nav class="nav-left">
          <% if session[:mochi_id] || top? %>
            <%= link_to "TOP", root_path %>
          <% else %>
            <%= link_to "TOP", top_path, method: :post,remote: true %>
          <% end %>
        </nav>
        <nav class="nav-right">
          <ul>
            <li><%= link_to "全体でみる", filter_path, method: :post, remote: true, class: "toArticle" %></li>
            <li><%= link_to "できごとの分類でみる", void_path, method: :post, remote: true, class: "void_path toArticle"  %>
              <ul class="abs">
                <li>
                  <%= link_to t("article.category.government"), filter_path(category: "government"), method: :post, remote: true, class: "toArticle" %>
                </li>
                <li>
                  <%= link_to t("article.category.economy"), filter_path(category: "economy"), method: :post, remote: true, class: "toArticle" %>
                </li>
                <li>
                  <%= link_to t("article.category.technology"), filter_path(category: "technology"), method: :post, remote: true, class: "toArticle" %>
                </li>
                <li>
                  <%= link_to t("article.category.culture"), filter_path(category: "culture"), method: :post, remote: true, class: "toArticle" %>
                </li>
                <li>
                  <%= link_to t("article.category.religion"), filter_path(category: "religion"), method: :post, remote: true, class: "toArticle" %>
                </li>
              </ul>
            </li>
            <li><%= link_to "地区別の分類でみる", void_path, method: :post, remote: true, class: "void_path toArticle" %>
              <ul class="abs">
                <li>
                  <%= link_to t("article.region.saga"), filter_path(region: "saga"), method: :post, remote: true, class: "toArticle" %>
                </li>
                <li>
                  <%= link_to t("article.region.sanshin"), filter_path(region: "sanshin"), method: :post, remote: true, class: "toArticle" %>
                </li>
                <li>
                  <%= link_to t("article.region.kito"), filter_path(region: "kito"), method: :post, remote: true, class: "toArticle" %>
                </li>
                <li>
                  <%= link_to t("article.region.karamatsu"), filter_path(region: "karamatsu"), method: :post, remote: true, class: "toArticle" %>
                </li>
                <li>
                  <%= link_to t("article.region.isai"), filter_path(region: "isai"), method: :post, remote: true, class: "toArticle" %>
                </li>
              </ul>
            </li>
            <% if session[:mochi_id] %>
              <li>
                <%= link_to "記事を書く",  list_path, method: :post, remote: true, class: "text-info", id: "list" %>
              </li>
            <% end %>
          </ul>
        </nav>
      </div>
    </header>
    <%= yield %>
  </body>
</html>

<script>

</script>
